{% for task in tasks %}
    {% if task.status.pk == status.pk %}
        {#        номер задачи и кнопка удаления #}
        <div class="my-1 brd-b mb-3 pb-2 brd">
            <div class="row position-absolute col-12">
                <div class="btn btn-outline-primary btn-sm col-auto ml-0">
                    {{ task.pk }}
                </div>
                <form action="{% url 'task_control:delete' task.pk %}" method="post"
                      class="col-auto p-0 ml-auto mr-0">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-primary btn-sm">X</button>
                </form>
            </div>
            {#          измение статуса задачи#}
            <div class="row position-absolute col-12" style="margin-top: 35px">
                {#            <div class="row col-12 position-absolute brd" style="margin-top: 35px">#}
                <form action="{% url 'task_control:update_status' task.pk %}" method="post"
                      class="col-auto p-0 ml-0">
                    {% csrf_token %}
                    <input type="hidden" name="status" value={{ status.pk|add:-1 }}>
                    <button type="submit"
                            class="btn btn-outline-primary btn-sm"
                            {% if forloop.parentloop.first %}
                            disabled
                            {% endif %}>
                        &lt
                    </button>
                </form>
                <form action="{% url 'task_control:update_status' task.pk %}" method="post"
                      class="col-auto p-0 ml-auto mr-0">
                    {% csrf_token %}
                    <input type="hidden" name="status" value={{ status.pk|add:1 }}>
                    <button type="submit"
                            class="btn btn-outline-primary btn-sm"
                            {% if forloop.parentloop.last %}
                            disabled
                            {% endif %}
                    >
                        &gt
                    </button>
                </form>
            </div>


            <div class="mx-auto pl-1 col-9 brd">
                {% if user.pk == task.owner.pk %}
                    <form action="{% url 'task_control:update_title' task.pk %}" method="post"
                          class="row">
                        {% csrf_token %}
                        <label class="col-9 mb-0 label" for="title_{{ task.pk }}" >Title: </label>
                        <input class="col-9 px-1 mx-auto" type="text" name="title" id="title_{{ task.pk }}" value="{{ task.title }}">

                        <button type="submit" class="btn btn-outline-primary btn-sm">E</button>
                    </form>
                {% else %}
                    <snap class="label">Title: </snap>{{ task.title }}<br>
                {% endif %}
                    <snap class="label">Worker: </snap>{{ task.worker }}<br>
                    <snap class="label">Owner: </snap>{{ task.owner }}

            </div>

        </div>


    {% endif %}
{% endfor %}
