{% for task in tasks %}
    {% if task.status.pk == status.pk %}


        <div class="my-1 brd-b mb-3 pb-2">
            {#номер задачи и кнопка удаления #}
            <div class="row px-0">
                <div class="btn btn-outline-primary btn-sm col-auto ml-0 px-0 text-center task_id" title="Task ID">
                    {{ task.pk }}
                </div>

                {% include 'include/task_title.html' %}

                {% if user.is_superuser %}
                    <form action="{% url 'task_control:delete' task.pk %}" method="post"
                          class="col-auto p-0 ml-auto" title="Delete task">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-warning btn-sm">X</button>
                    </form>
                {% endif %}
            </div>

            {# измение статуса задачи #}
            <div class="row position-absolute col-12 pl-0 pr-1" style="margin-top: 35px">
                {# стрелка влево #}
                {% if task.worker.pk == user.pk and status in status_list|slice:"1:4" %}
                    {% include 'include/status_prev.html' %}
                {% elif user.is_superuser and status in status_list|slice:"4:" %}
                    {% include 'include/status_prev.html' %}
                {% endif %}

                {# конец стрелки влево #}

                {# стрелка вправо #}
                {% if task.worker.pk == user.pk and status in status_list|slice:":3" %}
                    {% include 'include/status_next.html' %}
                {% elif user.is_superuser and status in status_list|slice:"3:4" %}
                    {% include 'include/status_next.html' %}
                {% endif %}
            </div>
            {# конец стрелки вправо #}

            {#  task title#}

            {#  end task title#}

            {# task worker #}
            <snap class="label">Worker</snap>
            {% if  user.is_superuser %}
                <form action="{% url 'task_control:update_worker' task.pk %}" method="post">
                    {% csrf_token %}
                    <div class="input-group input-group-sm">
                        <select class="custom-select" name="worker" id="inputGroupSelect04">
                            <option value="">Choose worker</option>
                            {% for worker in worker_list %}
                                <option {% if task.worker.pk == worker.pk %}selected{% endif %}
                                        value="{{ worker.pk }}">{{ worker.username }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-secondary" type="submit">ok</button>
                        </div>
                    </div>
                </form>
            {% else %}
                {{ task.worker }}<br>
            {% endif %}
            {# end task worker #}
            <snap class="label">Maker</snap>
            {{ task.owner }}

        </div>

        </div>


    {% endif %}
{% endfor task %}
