{% for task in tasks %}
    {% if task.status.pk == status.pk %}

        <div class="my-1 brd-b mb-3 pb-2">

            {#номер задачи и кнопка удаления #}
            <div class="row px-0 mx-0">

                {% if user.pk == task.owner.pk or user.is_superuser %}
                    <div>
                        <form action="{% url 'task_control:update_title' task.pk %}" method="post">
                            {% csrf_token %}

                            <div class="input-group input-group-sm mb-1">
                                {% include 'include/task_pk.html' %}
                                {% include 'include/task_title_input.html' %}

                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">ok</button>
                                </div>
                                {% if user.is_superuser %}
                                    <button type="submit" form="task_{{ task.pk }}_delete"
                                            class="btn btn-outline-warning btn-sm ml-1">X
                                    </button>
                                {% endif %}
                            </div>
                        </form>

                        {% if user.is_superuser %}
                            {% include 'include/task_delete.html' %}
                        {% endif %}
                    </div>


                {% else %}

                    <div class="input-group input-group-sm mb-1">

                        {% include 'include/task_pk.html' %}
                        {% include 'include/task_title_input.html' %}

                    </div>

                {% endif %}

            </div>

            <div class="row mx-0 px-0">
                {# стрелка влево #}
                {% if task.worker.pk == user.pk and status in status_list|slice:"1:4" %}
                    {% include 'include/status_prev.html' %}
                {% elif user.is_superuser and status in status_list|slice:"4:" %}
                    {% include 'include/status_prev.html' %}
                {% endif %}
                {# конец стрелки влево #}

                <div class="col ml-0 mr-0 px-0">

                    {# task worker #}
                    {% if  user.is_superuser %}
                        <form action="{% url 'task_control:update_worker' task.pk %}" method="post">
                            {% csrf_token %}
                            <div class="input-group input-group-sm mb-1">
                                <div class="input-group-prepend">
                                    <div class="btn btn-outline-secondary btn-sm ml-0">
                                        Worker
                                    </div>
                                </div>

                                <select class="custom-select" name="worker" required id="inputGroupSelect04">
                                    <option disabled selected>Choose worker</option>
                                    {% for worker in worker_list %}
                                        <option {% if task.worker.pk == worker.pk %}selected{% endif %}
                                                value="{{ worker.pk }}">{{ worker.username }}</option>
                                    {% endfor %}
                                </select>


                                <div class="input-group-append">
                                    <button class="btn btn-sm btn-outline-secondary" type="submit"
                                            title="confirm change worker">ok
                                    </button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <div class="input-group input-group-sm mb-1">

                            <div class="input-group-prepend">
                                <div class="btn btn-outline-secondary btn-sm ml-0">
                                    Worker
                                </div>
                            </div>
                            <input class="form-control"
                                   type="text"
                                   value="{{ task.worker }}"
                                   disabled
                            >
                        </div>
                    {% endif %}
                    {# end task worker #}

                    {# maker #}
                    <div class="input-group input-group-sm mb-1">

                        <div class="input-group-prepend">
                            <div class="btn btn-outline-secondary btn-sm ml-0"
                                 title="Owner" disabled>
                                Maker
                            </div>
                        </div>

                        <input class="form-control"
                               type="text"
                               value="{{ task.owner }}"
                               disabled
                        >

                    </div>
                    {# maker end #}
                </div>

                {# стрелка вправо #}
                {% if task.worker.pk == user.pk and status in status_list|slice:":3" %}
                    {% include 'include/status_next.html' %}
                {% elif user.is_superuser and status in status_list|slice:"3:4" %}
                    {% include 'include/status_next.html' %}
                {% endif %}
                {# конец стрелки вправо #}

            </div>
        </div>
    {% endif %}



{% endfor task %}
