{% extends 'page_item/base.html' %}
{% load staticfiles %}

{% block content %}
    {##}
    {#    <div class="col box">#}
    {##}
    {#    </div>#}

    <div class="col box">

        {% if not user.is_authenticated %}
            <div class="alert alert-danger text-center" role="alert">
                <a href="{% url 'identify:login' %}" class="alert-link">login</a>
                or
                <a href="{% url 'identify:register' %}" class="alert-link">register</a>!
            </div>
        {% endif %}

        {% include 'page_item/messages.html' %}

{#    new task #}
        <form method="post" action="{% url 'task_control:create' %}">
            {% csrf_token %}
            <div class="input-group mb-3 col-5 px-0">
                {% if not user.is_superuser %}
                <div class="input-group-prepend">
                    <div class="input-group-text" title="I will do">
                        <input type="checkbox"
                               name="worker"
                               id="id_worker"
                               aria-label="Checkbox for following text input">
                    </div>
                </div>
                {% endif %}
                <input type="text"
                       class="form-control"
                       required
                       placeholder="Type new task title"
                       name="title"
                       title="Task title"
                       maxlength="50"
                       id="id_title"
                       aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">New</button>
                </div>
            </div>
        </form>
{#    end new task #}


        <div class="row">
            {% for status in status_list %}
                <div class="col box ml-1 px-1 status_col">
                    <p class="brd-b">{{ status.name }}</p>

                    {% include 'include/task_card.html' %}

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}