{% extends 'page_item/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="col-md-10 col-sm-10 col-12 col box">

        {% if not user.is_authenticated %}
            <div class="alert alert-danger text-center" role="alert">
                <a href="{% url 'identify:login' %}" class="alert-link">login</a>
                or
                <a href="{% url 'identify:register' %}" class="alert-link">register</a>!
            </div>
        {% endif %}

        {% include 'page_item/messages.html' %}

        <h2>Index</h2>
        <form method="post">
            {{ create_form }}
            <input type="submit" value="create task">
        </form>
    </div>

{% endblock content %}